{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Προσφορές {% endblock %}

{% block content %}

<div class="row">
    <div class="span9">

        <h1>Προσφορές</h1>

    </div>
</div>
{%for sell in sell%}
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span6 title">
                <h2>
                    {{sell.user.name}} {{sell.user.lastname}}
                </h2>
            </div>
            <div class="span3 title">
                <h3>
                    {{ sell.origin }}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="span3" >
                <div class="details photo">
                    <img class="product" src="{{ asset (sell.location.product.image)}}">
                </div>
                {% include "AcmeUserBundle:Default:rating.html.twig" %}
            </div>
            <div class="span4">
                <div class="details">
                    <div class="quantities" >   {{ sell.quantity - sell.agor }}kg <br><span class="quantities"> Διαθέσιμα</span></div> 
                    <div class="quantities" >{{ sell.price }}ευρώ/kg<span class="quantities"><br>&nbsp;</span></div>
                    <div class="quantities" >    {{ sell.quantity }}kg <br><span class="quantities"> Συνολικά</span> </div>
                    <div class="quantities" >   {{ sell.minquantity }}kg <br><span class="quantities">  ελάχιστη</span></div>
                </div>
            </div>	
            <div class="span2 ">


                <div class="details">
                    <form action='{{path ("buy_new", {'location_id':location_id, 'offer_id': sell.id})}}' {{form_enctype(form) }} method="POST">
                        <div class="control-group">
                            <div class="controls">

                                {{ form_widget(form.quantity, {'attr': {'class':'span1 squarequantity'} } ) }}
                            </div>
                        </div>
                        {{ form_rest(form)}}
                        <input name="submit" value="Υποβολή" type="submit"/>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{%endfor%}
{% endblock%}

{% block sidebar %}
{% include "AcmeUserBundle:User:sidebar.html.twig" %}
{%endblock %}

