{% extends "AcmeUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="row">
    <div class="twelve columns">
        <img style="position:relative;top:10px;" src="/images/backgroundarticle.png">
    </div>
</div>
<div class="row header">
<div class="twelve columns">
<h3> Εγγραφή νέου αγρότη </h3>
</div>
</div>
<div class="row article">
    <div class="six columns offset-by-one form">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form></div>
</div>
{% endblock fos_user_content %}

{% block sidebar %} 

<div class="row">
    <div class="twelve columns phone">
        
        <p> test sidebar content </p>
</div>
</div>
{% endblock %}

