{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Τι έχω πουλήσει {% endblock %}
{% block content %}

<h1> Τι έχω πουλήσει</h1>
{%for sell in sell%}
	{%if sell.user.id==id%}
<div class="row">
    <div class="span9 listing">
	
        <div class="row">
            <div class="span9 title">
			
			
                <h2><span class="hidden-phone">Πουλήσατε:</span> {{sell.location.product.name}}</h2>
                <h3>{{sell.location.date|date("d/m/Y")}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="span2" >
                <div class="details">
                    <img class="product" src="{{ asset (sell.location.product.image)}}">
                </div>
            </div>
		
			
            <div class="span7">
                <div class="details">
                    <div class="groupinfo">
                        <dl class="info">
						<dt>Ημερομηνία:</dt><dd>{{sell.location.date|date("d/m/Y")}}</dd>
					    <dt>Αρχική ποσότητα:</dt><dd> {{sell.quantity}} κιλά</dd>
						<dt>Ελάχιστη ποσότητα αγοράς:</dt><dd>{{sell.minquantity}} </dd>
						</dl>
						<dl class="info">
						<dt>Τόπος:</dt><dd>{{sell.location.address}}</dd>
						<dt>Πουληθέντα:</dt><dd>{{sell.agor}} </dd>
						<dt>Τιμή:</dt><dd>{{sell.price}} ευρώ</dd>
								
				   </div>
                </div>
             </div>
		</div>
		{%if sell.location.date|date("d/m/Y") >= "now"|date("d/m/Y")%}
			<div class="row">
			<div class="span9 buttons"><a class="btn btn-large" href="{{ url('edit', { 'id': sell.id}) }}">Επεξεργασία</a>
						</div>	       
            </div>	
	    {%endif%}
		

</div>
</div>
{%endif%}
{%endfor%}
{%endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Agrotis:sidebar_agrotis.html.twig" %}
{%endblock %}
