{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Προσφορές αγροτών{% endblock %}

{% block extracssjava %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="span9">
        <h1> Προσφορές αγροτών σε επιχειρήσεις</h1>
    </div>
</div>

{%for business in business %}	
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span9 title">
                <h2><span class="hidden-phone">Η επιχείρηση ζητά:</span> {{business.product.name}}</h2>

            </div>
        </div>
        <div class="row">
            <div class="span3" >
                <div class="details photo">
                    <img class="product" src="{{ asset (business.product.image)}}">
                </div>
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span3">
                        <div class="details">
                                <h2 style="text-decoration">{{business.businessname}}</h2>
                                <h4>{{ business.town}} , {{ business.address}} , ΤΚ {{ business.postal}} </h4>

                                <h4>{{ business.phone}} </h4>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="details">
                            {{business.extra }}
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="span6 buttons">
                    <a class="btn btn-large" href="{{ path('sellbusiness', { 'id': business.id}) }}">Συμμετοχή ως αγρότης</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}


{% block sidebar %}
{% include "AcmeUserBundle:Agrotis:sidebar_agrotis.html.twig" %}
{%endblock %}
