{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
Πώληση Προϊόντος

{% endblock %}

{% block content %}
<h1>Πώληση Προϊόντος</h1>

<div class="row">
    <div class="span9 listing">
                        <form action='{{path ("sell", { 'id': location_id})}}' {{form_enctype(form) }} method="POST" id="sellForm">
                            <div class="row">
                <div class="span4 offset1">
							<div class="control-group">
                                {{form_label(form.quantity,"Ποσότητα", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.quantity)}}
                                </div>
                            </div>
                            <div class="control-group">
                                {{form_label(form.min_quantity,"Ελάχιστη Ποσότητα", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.min_quantity)}}
                                </div>
                            </div>
                            <div class="control-group">
                                {{form_label(form.price,"Τιμή", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.price)}}
                                </div>
                            </div>
                            <div class="control-group">
                                {{form_label(form.origin,"Προέλευση", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.origin)}}
                                </div>
                            </div>
                            {{ form_rest(form)}}
                    <a href="#" style=" float:right" onclick="$('#sellForm').submit()" class="btn btn-large btn-green">Αποθήκευση</a>
                  </div>
            </div>
            <div class="row">
                <div class="span2 offset5">
                </div>
            </div>
        </form>
    </div>
</div>
    {% endblock%}
{% block sidebar %}
{% include "AcmeUserBundle:Agrotis:sidebar_agrotis.html.twig" %}
{%endblock %}
