{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Κριτικές που έχω δώσει {% endblock %}

{% block extracssjava %}
<script type="text/javascript" src="{{asset('js/vote.js')}}"></script>
<script>

$(document).ready( function(){

    $(".remainingvotesprompt").click(function(){
        $(".remaining").show();
        $(".remainingvotesprompt").hide();
    });
    $(".showvotebox").click(function(){
        $($(this).attr("href")).show();
        $(this).hide();
    });

    $(".vote-submit a").click(function(){

        var id = $(this).attr("id").split("-")[2];
        vote($(this).attr("href"), id);
        return false;
    });
    transformVotes();

});

</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span9">
        <h1> Κριτικές που έχω δώσει</h1>
    </div>
</div>

{% if votesremaining|length >0 %}

<div class="row remainingvotesprompt ">
    <div class="span9 listing">
        <div id="showremainingvotes"> Μπορείς να βαθμολογήσεις
            <strong>{{ votesremaining|length }}</strong> αγορές,
            πατώντας εδώ. 
        </div>
    </div>
</div>

{%for vote in votesremaining %}	
<div class="row remaining">
    <div class="span9 listing">
        <div class="row">
            <div class="span5" >
                <div class="remainingvote">
                    Αγορά με
                    <strong>{{ vote.sell.location.product }}</strong>
                    από <strong>{{ vote.user.name }}</strong>
                    στις
                    <strong> 
                        {{ vote.sell.location.date|date("d/m/Y") }}
                    </strong>
                    στο σημείο
                    <strong>{{ vote.sell.location.name }}</strong>
                </div>
            </div>
            <div class="span4">
                <a href="#vote-{{vote.id}}" class="btn btn-large showvotebox">Γράψτε Κριτική</a>
            </div>
            <div class="span3">
            </div>
        </div>
        {% include "AcmeUserBundle:Default:rating.html.twig" %}
    </div>
</div>
{% endfor %}

{% endif %}


{% if votescasted|length==0 %}
{% include "AcmeUserBundle:Default:empty.html.twig" %}
{% endif %}

{% for vote in votescasted %}
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span4" >
                <div class="vote-score clearfix">
                    <span class="score">{{ vote.vath }}</span>
                </div>
            </div>
            <div class="span5">
                <p>
                {{vote.sxolia}}
                </p>
            </div>
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}


{% block sidebar %}
{% include "AcmeUserBundle:User:sidebar_user.html.twig" %}
{%endblock %}
