{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Προγραμματισμένες Αγορές{% endblock %}

{% block extracssjava %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEPM5KnBooryeD7ln46Sa85Y7w9IencE0&sensor=false"></script>
<script type="text/javascript" src="{{asset('js/maps.js')}}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span9">
        <h1> Κριτικές που έχω δώσει</h1>
    </div>
</div>

{% if votesremaining|length >0 %}

<div class="row remainingvotesprompt ">
    <div class="span9 listing">
        <div id="showremainingvotes"> Μπορείς να βαθμολογήσεις
            <strong>{{ votesremaining|length }}</strong> αγορές,
            πατώντας εδώ. 
        </div>
        <script>
            $(".remainingvotesprompt").click(function(){
                $(".remaining").show();
                $(".remainingvotesprompt").hide();
            });
        </script>
    </div>
</div>

{%for vote in votesremaining %}	
<div class="row remaining">
    <div class="span9 listing">
        <div class="row">
            <div class="span6" >
                <div class="remainingvote">
                    Αγορά με
                    <strong>{{ vote.sell.location.product }}</strong>
                    από <strong>{{ vote.user.name }}</strong>
                    στις
                    <strong> 
                        {{ vote.sell.location.date|date("d/m/Y") }}
                    </strong>
                    στο σημείο
                    <strong>{{ vote.sell.location.name }}</strong>
                </div>
            </div>
            <div class="span3">
                <a href="#vote-{{vote.id}}" class="btn btn-large showvotebox">Γράψτε Κριτική</a>
                {% include "AcmeUserBundle:Default:rating.html.twig" %}
                <script>
                    $(".showvotebox").click(function(){
                        $($(this).attr("href")).show();
                        $(this).hide();
                    });

                </script>
            </div>
            <div class="span3">
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endif %}


{% if votescasted|length==0 %}
{% include "AcmeUserBundle:Default:empty.html.twig" %}
{% endif %}

{% for vote in votescasted %}
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span3" >
                <div class="details ">
                    <span class="score">{{ vote.vath }}</span>
                </div>
            </div>
            <div class="span3">
                <div class="details">

                    <div class="location">
                        <p>
                        {{vote.sxolia}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="span3">
            </div>
        </div>
    </div>
</div>

{% endfor %}

<script>
    $(document).ready(function(){

        $.each($(".score"), function(key, val){

            $value = parseInt($(val).text());

            $(val).empty();

            for(i=0;i<5;i++){
                if (i<$value){
                console.log(i);
                    $(val).append("<span class='vote'><span>");
                }
                else{
                     $(val).append("<span class='novote'><span>");
                    
                }

            }
        });
    });
</script>

{% endblock %}


{% block sidebar %}
{%endblock %}
