{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block content %}
<div class="row">
    <div class="span9">

        <h1> Εγκρίσεις προσφορών</h1>  </div>
</div>

{%for sell in items%}
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span2" >
                <div class="details">
                    <img class="product" src="{{ asset (sell.location.product.image)}}">
                    {{sell.location.date|date }}
                </div>
            </div>
            <div class="span7">
                <div class="details">
                    <div class="groupinfo">
                        <dl class="info">
                            <dt>Παραγωγός:</dt><dd>{{sell.user.name}} {{sell.user.lastname}}</dd>
                            <dt>Προέλευση:</dt> <dd>{{ sell.origin }}</dd>
                            <dt>Ποσότητα:</dt><dd> {{ sell.quantity}} κιλά</dd>
                        </dl>
                        <dl class="info">
                            <dt>Βαθμολογία:</dt> <dd></dd>
                            <dt>Τιμή:</dt> <dd>{{ sell.price }} ευρώ</dd>
                            <dt>Ελάχιστη ποσότητα παραγγελιών:</dt><dd>{{ sell.minquantity}} κιλά</dd>
                        </dl>
                        <dl class="extrainfo">
                            <dt >Διαθέσιμη Ποσότητα</dt>
                            <dd > {{sell.quantity-sell.agor }} κιλά</dd>
                        </dl>
                    </div>
                </div>
            </div>	
            <div class="row">
                <div class="row">
                    <div class="span9 buttons">
                        <a class="btn btn-large" href="{{ path('ok', { 'id': sell.id}) }}">Έγκριση</a>
                        <a class="btn btn-large" href="{{ path('no', { 'id': sell.id}) }}">Απόρριψη</a>
                    </div>
                </div>
            </div>			
        </div>
    </div>
</div>

{%endfor%}

{%endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Organiser:sidebar_organiser.html.twig" %}
{%endblock %}
