<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}- eAgrotis.gr</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href={{ asset('css/bootstrap.css')}} rel="stylesheet">
        <link href={{ asset('css/my.css')}} rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <script src={{ asset('js/jquery-1.7.2.min.js')}} ></script>
        <link rel="shortcut icon" href={{ asset("ico/favicon.ico")}}>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,greek' rel='stylesheet' type='text/css'>
        {% block extracssjava %}
        {% endblock %}
        <style>


        </style>
    </head>

    <body>
        <div class="container top">

            <div class="row">
                <div class="span3 logo">

                    <a href="{{path("pazari")}}">
                    <img src="{{ asset('img/logo.png')}}">
                </a>
                </div>
                <div class="span6">
                    <ul class="nav">
                        <li>
                        <a href="{{path("ola")}}">Αρχικη</a>
                        </li>
                        <li>
                        <a href="">Είμαι Αγρότης</a>
                        </li>
                        <li>
                        <a href="">Είμαι Καταναλωτής</a>
                        </li>
                        <li>
                        <a href="">Είμαι Επιχείρηση</a>
                        </li>
                        <li>
                        <a href="">Θέλω να Βοηθήσω</a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="span3 phone">
                    <div>
                        <ul class="loginbox">
                        {% if is_granted("ROLE_USER") %}
                        <li>
                        <a href="{{path("fos_user_security_logout")}}">Αποσύνδεση</a>
                        </li>
                        {% else %}
                        <li>
                        <a href="{{path("fos_user_security_login")}}">Σύνδεση</a>
                        </li>
                        <li>
                        <a href="{{path("fos_user_registration_register")}}">Εγγραφή</a>
                        </li>
                        {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span9">
                    {% block content %} {% endblock %}
                </div>
                <div class="span3">
                    {% block sidebar %} {%endblock %}
                </div>
            </div>
        </div>
        <script src={{ asset('js/bootstrap.min.js')}}></script>
    </body>
</html>
