{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="fos_user_agora">
{%for sell in sell%}

<li>{{sell.quantity}}
{{sell.price}}
{{sell.origin}}
{{sell.quantity}}
	{%for user in users%}
		{%if user.id==sell.user.id%}
		{{user.name}}
		{%endif%}
	{% endfor %}
    </li>
 {% endfor %}
</div>
</form>
{% endblock fos_user_content%}
