{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Προσφορές {% endblock %}

{% block content %}
{%for sell in sell%}
{%if sell.location.id==id%}
<div class="row">
    <div class="span9">
         
         <h1>Παζάρι με: {{sell.location.product.name}}</h1>
         
    </div>
</div>

<div class="row ">
<div class="span9 listing">
	<div class="row">
	<div class="span2" >
                <div class="details">
                    <img class="product" src="{{ asset (sell.location.product.image)}}">
                </div>
            </div>
            <div class="span7">
                <div class="details">
                    <div class="groupinfo">
                        <dl class="info">
                            <dt>Παραγωγός:</dt><dd>{{sell.user.name}} {{sell.user.lastname}}</dd>
                            <dt>Προέλευση:</dt> <dd>{{ sell.origin }}</dd>
                            <dt>Ποσότητα:</dt><dd> {{ sell.quantity}} κιλά</dd>
                        </dl>
						 <dl class="info">
                            <dt>Βαθμολογία:</dt> <dd></dd>
                            <dt>Τιμή:</dt> <dd>{{ sell.price }} ευρώ</dd>
                            <dt>Ελάχιστη ποσότητα παραγγελιών:</dt><dd>{{ sell.minquantity}} κιλά</dd>
                        </dl>
	                </div>
				</div>
            </div>	
<div class="row">
    <div class="row">
	<div class="span9 buttons">
	 <form  action="{{ path('buy_new') }}" method="post" >
                <input type="hidden" name="id" value="{{sell.id}}"/>
                <tr><td><dd>Ποσότητα:</td><td><input type="text" name="quant" />κιλά</dd></td></tr>
                <button type="submit">Αγορά</button>
     </form>
	 </div>
    </div>
</div>			
	</div>
</div>
</div>
{%endif%}	
{%endfor%}
{% endblock%}

{% block sidebar %}
<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">
  <li><a href="pazari" >Αρχική</a></li>
            <li><a href="agorasmena">Τι έχω αγοράσει</a></li>
			<li><a href="poulimena">Τι έχω πουλήσει</a></li>
            <li><a href="price">Πόσο κοστίζει</a></li>
            <li><a href="logout">Αποσύνδεση</a></li>

        </ul>
    </div>
</div>
</div>{%endblock %}
