{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Προσφορές {% endblock %}

{% block content %}

<div class="row">
    <div class="span9">
         {%for key in p%}
         <h1>Παζάρι με: {{key.name}}</h1>
         {%endfor%}
    </div>
</div>
{%for key in b%}
<div class="row ">
<div class="span9 listing">
	<div class="row">
            <div class="span7">
                <div class="details">
                    <div class="groupinfo">
                        <dl class="info">
                            <dt>Παραγωγός:</dt><dd>{{key.name}}</dd>
                            <dt>Προέλευση:</dt> <dd>{{ key.origin }}</dd>
                            <dt>Ποσότητα:</dt><dd> {{ key.quantity}} </dd>
                        </dl>
						 <dl class="info">
                            <dt>Βαθμολογία:</dt> <dd></dd>
                            <dt>Τιμή:</dt> <dd>{{ key.price }}</dd>
                            <dt>Ελάχιστη ποσότητα παραγγελιών:</dt><dd> {{ key.min_quantity}} </dd>
                        </dl>
	                </div>
				</div>
            </div>	
<div class="row">
    <div class="row">
	<div class="span9 buttons">
	 <form  action="{{ path('buy_new') }}" method="post" >
                <input type="hidden" name="id" value="{{key.id}}"/>
                <tr><td><h6>Ποσότητα:</td><td><input type="text" name="quant" /></h6></td></tr>
                <tr><td></td><td><button type="submit">Αγορά</button></td></tr>
     </form>
	 </div>
    </div>
</div>			
	</div>
</div>
</div>	
{%endfor%}
{% endblock%}

{% block sidebar %}
<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">
  <li><a href="pazari" >Αρχική</a></li>
            <li><a href="profile">Τι έχω αγοράσει</a></li>
			<li><a href="profile">Τι έχω πουλήσει</a></li>
            <li><a href="price">Πόσο κοστίζει</a></li>
            <li><a href="logout">Αποσύνδεση</a></li>

        </ul>
    </div>
</div>
</div>{%endblock %}
