<div class="row">
    <div class="span9">
        <h1> Διαχείριση συναντήσεων</h1>
    </div>
</div>

{% for location in items %}
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span5 title">
                <h2>
                    {{location.name }}
                </h2>
            </div>
            <div class="span4 title">
                <h3>
                    {{location.date| date("d/m/Y")                    }}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="span2" >
                <div class="details photo">
                    <img class="product" src="{{ asset (location.product.image)}}">
                </div>
            </div>
            <div class="span4">
                <div class="details">

                    <div class="location">
                        <h3>
                            {{ location.name }},
                        </h3>
                        <h3>
                            {{ location.address}} 
                        </h3>
                        <h3>
                            {{ location.starttime | date("H:00") }}-{{ location.endtime | date("H:00") }}
                        </h3>
                        <div>{{location.organiser}}, {{ location.phone }} </div>
                    </div>
                </div>

            </div>
            <div class="span3">
                <div class="details">
                {% if location.approved is null%}
                <p class="label label-info">
                <i class="icon-info-sign icon-white"></i>Αναμένει έγκριση
                </p>
                {% elseif location.approved==false %}
                <p class="label label-important">
                <i class="icon-remove-sign icon-white"></i>Έχει απορριφθεί
                </p>
                {% else %}
                <p class="label label-success">
                <i class="icon-ok-sign icon-white"></i>Έχει εγκριθεί
                </p>
                {% if location.public==true %}
                <p class="label label-success">
                <i class="icon-ok-sign icon-white"></i>Έχει δημοσιευτεί
                </p>
                {% else %}
                <p class="label label-info">
                <i class="icon-info-sign icon-white"></i>Αναμένει Δημοσίευση
                </p>
                {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span9 buttons">
                {% if location.public==false and location.approved == true %}
                <a class="btn btn-info btn-mini" href="{{ path('public', { 'id': location.id}) }}">
                    <i class="icon-share icon-white"></i>Δημοσίευση
                </a>
                {% endif %}
                <a class="btn btn-warning btn-mini" href="{{ path(edit_path, { 'id': location.id}) }}">
                    <i class="icon-edit icon-white"></i> Επεξεργασία
                </a>
                <a class="btn  btn-danger btn-mini" href="{{ path(delete_path, { 'id': location.id}) }}">
                   <i class="icon-remove icon-white"></i>  Διαγραφή 
                </a>
                {% if is_granted("ROLE_ADMIN") and approve_path is defined and location.approved!=true %}
                <a class="btn  btn-success btn-mini" href="{{ path(approve_path, { 'id': location.id}) }}">
                    <i class="icon-ok icon-white"></i>    Έγκριση 
                </a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
    {%endfor%}
