{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Προγραμματισμένες Αγορές {% endblock %}

{% block extracssjava %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEPM5KnBooryeD7ln46Sa85Y7w9IencE0&sensor=false"></script>
<script type="text/javascript" src="{{asset('js/maps.js')}}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span9">
        <h1> Οπωροκηπευτικά</h1>
    </div>
</div>


{%for location in locations %}	
{%if location.product.category=='οπωροκηπευτικά'%}
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span9 title">
                <h2><span class="hidden-phone">Αγορά με:</span> {{location.product.name}}</h2>
                <h3>{{location.date|date("d/m/Y")}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="span2" >
                <div class="details">
                    <img class="product" src="{{ asset (location.product.image)}}">
                </div>
            </div>
            <div class="span7">
                <div class="details">
                    <div class="groupinfo">
                        <dl class="info">
                            <dt>Οργανωτής</dt>
                            <dd>{{location.organiser}}</dd>

                            <dt>Τοποθεσία</dt> <dd>{{ location.name }}</dd>
                            <dt>Διεύθυνση</dt><dd> {{ location.address}} </dd>
                        </dl>
                        <dl class="info">
                            <dt>Τηλέφωνο </dt>
                            <dd>{{ location.phone }}</dd>
                            <dt>Ώρα έναρξης</dt>
                            <dd>{{ location.starttime | date("H:00") }}</dd>
                            <dt>Ώρα λήξης</dt>
                            <dd>{{ location.endtime | date("H:00") }}</dd>
                        </dl>
                        <div class="clearfix"></div>
                    </div>
                    <dl class="extrainfo">
                        <dt >Επιπλέον Πληροφορίες </dt>
                        <dd > {{location.extrainfo }}</dd>
                    </dl>

                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <div class="imgmap">
                    <div class="map" id="#map{{location.id}}"></div>
                </div>
            </div>
            <div class="row">
			
                <div class="span9 buttons">
				<a class="btn btn-large" href="{{ path('buy', { 'id': location.id}) }}">Προβολή προσφορών</a>
				<a class="btn btn-large" href="{{ path('sell', { 'id': location.id}) }}">Συμμετοχή ως αγρότης</a>
				</div>
            </div>
        </div>
    </div>
    <script>	
        addmap("#map{{location.id}}", {{location.latitude}}, {{location.longitude}}, "{{location.address}}", "{{location.name}}", "2102121222" );
    </script>
</div>
{%endif%}
{% endfor %}
{% endblock %}


{% block sidebar %}
{% include "AcmeUserBundle:Default:sidebar.html.twig" %}
{%endblock %}
