<form action="{{ path('orders_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
	
	{{ form_row(form.amount) }}


    {{ form_rest(form) }}
    <input type="submit" />
</form>

