{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Επόμενα Παζάρια {% endblock %}

{% block extracssjava %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEPM5KnBooryeD7ln46Sa85Y7w9IencE0&sensor=false"></script>

<script type="text/javascript" src="{{asset('js/maps.js')}}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span9">
        <h1> Επόμενα Παζάρια </h1>
    </div>
</div>


{%for location in locat %}	
{%for prod in query%}
{% if prod.id == location.product.id%}
<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span9 title">
                <h2><span class="hidden-phone">Παζάρι με:</span> {{prod.name}}</h2>
                <h3>{{location.date|date("d/m/Y")}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="span2" >
                <div class="details">
                    <img class="product" src="{{ asset (prod.image)}}">
                </div>
            </div>
            <div class="span7">
                <div class="details">
                    <dl class="info">
                        <dt>Οργανωτής</dt>
                        <dd>{{location.organiser}}</dd>

                        <dt>Τοποθεσία</dt> <dd>{{ location.name }}</dd>
                        <dt>Διεύθυνση</dt><dd> {{ location.address}} </dd>
                    </dl>
                    <dl class="info">
                        <dt>Τηλέφωνο επικοινωνίας</dt>
                        <dd>210212121</dd>
                        <dt>Ώρα έναρξης</dt>
                        <dd>8:00</dd>
                        <dt>Ώρα λήξης</dt>
                        <dd>16:00</dd>
                    </dl>
                    <p class="extrainfo"> {{location.extrainfo }}</p>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <div class="imgmap">
                    <div class="map" id="#map{{location.id}}"></div>
                </div>
            </div>
            <div class="row">
                <div class="span9 buttons"><a class="btn btn-large" href="{{ path('buy')}}">Προβολή προσφορών</a>
                    <a class="btn btn-large" href="{{ path('sell')}}">Συμμετοχή ως αγρότης</a></div>
            </div>
        </div>
    </div>
    <script>	
        addmap("#map{{location.id}}", {{location.latitude}}, {{location.longitude}}, "{{location.address}}", "{{location.name}}", "2102121222" );
    </script>
</div>

{%endif%}
{% endfor %}
{% endfor %}
{% endblock %}


{% block sidebar %}
<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">

            <li><a href="pazari" >Αρχική</a></li>
            <li><a href="profile">Προφίλ</a></li>
            <li><a href="price">Τιμοκατάλογος</a></li>
            <li><a href="logout">Αποσύνδεση</a></li>

        </ul>
    </div>
</div>
</div>{%endblock %}
