{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Τι έχω πουλήσει {% endblock %}
{% block content %}
<h1> Τι έχω πουλήσει</h1>
<div class="row">
    <div class="span9 listing">
	{%for key in l%}
        <div class="row">
            <div class="span9 title">
			{%for location in locat%}
			{%if key.date|date("d/m/Y") ==location.date|date("d/m/Y")%}
                <h2><span class="hidden-phone">Πουλήσατε:</span> {{location.product.name}}</h2>
                <h3>{{location.date|date("d/m/Y")}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="span2" >
                <div class="details">
                    <img class="product" src="{{ asset (location.product.image)}}">
                </div>
            </div>
			{%endif%}
			{%endfor%}
            <div class="span7">
                <div class="details">
                    <div class="groupinfo">
                        <dl class="info">
						<dt>Ημερομηνία:</dt><dd>{{key.date|date("d/m/Y")}}</dd>
					    <dt>Αρχική ποσότητα:</dt><dd> {{key.quantity}} κιλά</dd>
						<dt>Ελάχιστη ποσότητα αγοράς:</dt><dd>{{key.min_quantity}} </dd>
						</dl>
						<dl class="info">
						<dt>Τόπος:</dt><dd>{{key.address}}</dd>
						<dt>Πουληθέντα:</dt><dd>{{key.agor}} </dd>
						<dt>Τιμή:</dt><dd>{{key.price}} ευρώ</dd>
								
				   </div>
                </div>
             </div>
		</div>
		{%if key.date|date("d/m/Y") >= "now"|date("d/m/Y")%}
			<div class="row">
			
                <div class="span9 buttons"><a class="btn btn-large" href="{{ path('edit')}}?id={{key.id}}">Επεξεργασία</a>
                </div>	
            </div>	
	    {%endif%}
{%endfor%}

</div>
</div>

{%endblock %}
{% block sidebar %}
<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">

            <li><a href="pazari" >Αρχική</a></li>
            <li><a href="agorasmena">Τι έχω αγοράσει</a></li>
			<li><a href="poulimena">Τι έχω πουλήσει</a></li>
            <li><a href="price">Πόσο κοστίζει</a></li>
            <li><a href="logout">Αποσύνδεση</a></li>

        </ul>
    </div>
</div>
</div>{%endblock %}