<div class="row">
    <div class="span3">
        <h2 class="side">Επιλογές</h2>
    </div>
</div>
<div class="row ">
    <div class="span3 sidebar">
        <ul id="actions" class="extra-nav">
            <li><a href='{{path("agorasmena")}}'>Τα Αγορασμένα μου</a></li>
        </ul>
    </div>
</div>
<div class="row"><div class="span3">
        <h2 class="side">Κατηγορίες</h2>
</div></div>
<div class="row">
    <div class="span3 sidebar">
        <ul id="productcategories" class="extra-nav">
            <li><a href='{{path("ola")}}'>Όλα</a></li>
            <li><a href='{{path("pazari", {category:"λαχανικά"}) }}'>Λαχανικά</a></li>
            <li><a href='{{path("pazari", {category:"οπωροκηπευτικά"}) }}'>Οπωροκηπευτικά</a></li>
            <li><a href='{{path("pazari", {category:"φρούτα"}) }}'>Φρούτα</a></li>
            <li><a href='{{path("pazari", {category:"όσπρια"}) }}'>Όσπρια</a></li>
            <li><a href='{{path("pazari", {category:"λάδι"}) }}'>Λάδι</a></li>
            <li><a href='{{path("pazari", {category:"μέλι"}) }}'>Μέλι</a></li>
            <li><a href='{{path("pazari", {category:"γαλακτοκομικά"}) }}'>Γαλακτοκομικά</a></li>
            <li><a href='{{path("pazari", {category:"χόρτα"}) }}'>Χόρτα</a></li>
            <li><a href='{{path("pazari", {category:"κρέας"}) }}'>Κρέας</a></li>
            <li><a href='{{path("pazari", {category:"θαλασσινά"}) }}'>Θαλασσινά</a></li>
            <li><a href='{{path("pazari", {category:"βιολογικά-προιόντα"}) }}'>Βιολογικά Προϊόντα</a></li>
            <li><a href='{{path("pazari", {category:"άλλα"}) }}'>Άλλα</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h2 class="side">Πληροφορίες</h2>
    </div>
</div>
<div class="row">
    <div class="span3 sidebar">
        <ul id="information" class="extra-nav">
            <li><a href='{{path("price")}}'>Εκδηλώσεις</a></li>
            <li><a href='{{path("price")}}'>Blog</a></li>
        </ul>
    </div>
</div>
