<form action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
	
	{{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_rest(form) }}
    <input type="submit" />
</form>

