{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
Προσθήκη/Αλλαγή Προιόντος

{% endblock %}

{% block content %}
<h1>Προσθήκη/Αλλαγή Προϊόντος</h1>
<div class="row">
    <div class="span9 listing">
        <div class="row">
            <div class="span4">
                <div class="spacer">
                    <form action='{{path ("admin_product_new")}}' {{form_enctype(form) }}  method="POST" >
                        <div class="control-group">
                            {{form_label(form.name,"Όνομα Προϊόντος", {'attr': {'class':'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.name)}}
                            </div>
                        </div>
                        <div class="control-group">
                            {{form_label(form.category,"Κατηγορία Προϊόντος", {'attr': {'class':'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.category)}}
                            </div>
                        </div>
                        <div class="control-group">
                            {{form_label(form.sumvoulos,"Σύμβουλος Τιμών", {'attr': {'class':'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.sumvoulos)}}
                            </div>
                        </div>
                        <div class="control-group">
                            {{form_label(form.name,"Φωτογραφία", {'attr': {'class':'control-label'} } ) }}
                            <div class="controls">
                                {{ form_widget(form.file)}}
                                {{ form_rest(form)}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Admin:sidebar.html.twig" %}
{%endblock %}
