
{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
  Διαχείριση Εθελοντών
{% endblock %}

{% block content %}
<h1>Διαχείριση Εθελοντών</h1>
<div class="row">
    <div class="span9 listing">
        <table class="admin table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="visible-desktop">ID</th>
                    <th>Όνομα</th>
                 <th>Επίθετο</th>
				 <th>Ηλικία</th>
				   <th>Email</th>
                 <th>Τηλέφωνο</th>
				 <th>Πόλη</th>
                </tr>
                </thead>
                <tbody>
        {% for item  in news %}
            <tr>
                <td class="actions">
         
                    <a id="delete{{item.id}}" class="delete" href="{{path('admin_volunteer_echo_delete', {'id':item.id})}}"><span class="delete-icon"></span></a>
                </td>
                <td class="visible-desktop">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.surname}}</td>
				<td>{{item.age}}</td>
				<td>{{item.email}}</td>
				<td>{{item.phone}}</td>
				<td>{{item.town}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Admin:sidebar.html.twig" %}
{%endblock %}
