

{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %}
Διαχείριση
{% endblock %}


{% block content %}

<script>

    $(document).ready(function(){
        $($(this).attr("href")).modal();
    $(".edit").click( function (){

        $("#myModalForm h3").html("Επεξεργασία");
        $("#myModalForm form").attr("action", "edit");
        $("#myModalForm #productname").attr("value", "patata");

    });

    $(".new").click( function (){

        $("#myModalForm .modal-body")
        $.get("{{path('admin_product_new')}}", function(data){
            $("#myModalForm .modal-body").empty();

            $("#myModalForm .modal-body").append(data);
            $("#myModalForm h3").html("Καινούριο Προϊόν");
            
        });
//        $($(this).attr("href")).show();
//        $("#myModalForm form").attr("action", "{{path('admin_product_new')}}");

    });
});

</script>

<h1>Διαχείριση Προϊόντων</h1>
<div class="row">
    <div class="span9 listing">
        <table class="admin table-striped">
            <thead>
                <tr><th class="actions"></th>
                    <th class="hidden-phone">ID</th>
                    <th>Φωτογραφία</th>
                    <th>Όνομα</th>
                </tr>
                </thead>
                <tbody>
        {% for product  in products %}
            <tr>
                <td class="actions">
                    <a id="edit{{product.id}}" data-toggle="modal" class="edit" href="#myModalForm"><span class="edit-icon"></span></a>
                    <a id="delete{{product.id}}" class="delete" href="{{path('admin_product_delete', {'id':product.id})}}"><span class="delete-icon"></span></a>
                </td>
                <td class="hidden-phone">{{product.id}}</td>
                <td><img src="{{asset(product.image)}}"></td>
                <td>{{product.name}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <a data-toggle="modal" class="btn btn-large new" href="#myModalForm"><span class="new-icon"></span>Καινούριο Προϊόν</a>
    </div>
</div>

<div class="modal" id="myModalForm">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3 id="modalheader"></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary" >Save changes</a>
    </div>
</div>

{% endblock %}


{% block sidebar %}
{% include "AcmeUserBundle:Admin:sidebar.html.twig" %}
{%endblock %}
