<div class="row">
    <div class="span3">
        <h2 class="side">Διαχείριση</h2>
    </div>
</div>
<div class="row ">
    <div class="span3 sidebar">
        <ul id="actions" class="extra-nav">
            <li><a href='{{path("admin_news")}}'>Νέων</a></li>
            <li><a href='{{path("admin_products")}}'>Προϊόντων</a></li>
            <li><a href='{{path("admin_locations")}}'>Συνάντησεων</a></li>
			<li><a href='{{path("admin_volunteer")}}'>Προγράμματος Εθελοντών</a></li>
			<li><a href='{{path("admin_volunteer_echo")}}'>Εθελοντών</a></li>
			 <li><a href='{{path("admin_events")}}'>Εκδηλώσεων</a></li>
            <li><a href='{{path("admin_b2b")}}'>Εταιρικών Συναντήσεων</a></li>
            <li><a href='{{path("admin_messages")}}'>Προβολή Μηνυμάτων</a></li>
            <li><a href="/admin/users">Χρηστών</a></li>
        </ul>
    </div>
</div>
