
{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
  Διαχείριση Εθελοντών
{% endblock %}

{% block content %}
<h1>Διαχείριση Εθελοντών</h1>
<div class="row">
    <div class="span9 listing">
        <table class="admin table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="visible-desktop">ID</th>
                    <th>Τίτλος</th>
                 
                </tr>
                </thead>
                <tbody>
        {% for item  in news %}
            <tr>
                <td class="actions">
                    <a id="edit{{item.id}}" class="edit" href="{{path('admin_volunteer_edit', {'id':item.id})}}"><span class="edit-icon"></span></a>
                    <a id="delete{{item.id}}" class="delete" href="{{path('admin_volunteer_delete', {'id':item.id})}}"><span class="delete-icon"></span></a>
                </td>
                <td class="visible-desktop">{{item.id}}</td>
                <td>{{item.title}}</td>
                <td></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-large new" href="{{path ("admin_volunteer_new")}}"><span class="new-icon"></span>Καινούριο Πρόγραμμα Εθελοντών</a>
    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Admin:sidebar.html.twig" %}
{%endblock %}
