
{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
Συμμετοχή εθελοντή

{% endblock %}

{% block content %}
<h1>Συμμετοχή εθελοντή</h1>
<div class="row">
    <div class="span9 listing">
                        <form action='{{path ("volunteer_add")}}' {{form_enctype(form) }} method="POST" id="volunteerForm">
						 <div class="row">
                <div class="span4 offset1">
                            <div class="control-group">
                                {{form_label(form.name,"Όνομα", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.name)}}
                                </div>
                            </div>
                            <div class="control-group">
                                {{form_label(form.surname,"Επίθετο", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.surname)}}
                                </div>
                            </div>
                            <div class="control-group">
                                {{form_label(form.age,"Ηλικία", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.age)}}
                                </div>
                            </div>
                            <div class="control-group">
                                {{form_label(form.email,"Email", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.email)}}
                                </div>
                            </div>
							<div class="control-group">
                                {{form_label(form.phone,"Τηλέφωνο", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.phone)}}
                                </div>
                            </div>
							<div class="control-group">
                                {{form_label(form.town,"Πόλη", {'attr': {'class':'control-label'} } ) }}
                                <div class="controls">
                                    {{ form_widget(form.town)}}
                                </div>
                            </div>
                            {{ form_rest(form)}}
                    <a href="#" style=" float:right" onclick="$('#volunteerForm').submit()" class="btn btn-large btn-green">Αποθήκευση</a>
                </div>
            </div>
            <div class="row">
                <div class="span2 offset5">
                </div>
            </div>
        </form>
    </div>
</div>
    {% endblock%}
{% block sidebar %}
{% include "AcmeUserBundle:Volunteer:sidebar_volunteer.html.twig" %}
{%endblock %}
